html * {
  -webkit-text-size-adjust: 100%;
}

body {
  color: #313133;
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}