html * {
  -webkit-text-size-adjust: 100%;
}

body {
  color: #313133;
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body.menuOpen {
  overflow: hidden;
}

h1, h2, h3 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

hr {
  width: 90%;
  border: 0;
  border-top: #313133 solid 1px;
  margin-top: 50px;
  margin-bottom: 50px;
}