#mainContent {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#mainContentContainer {
    width: 100%;
    height: 100%;
}