.contactDetailsFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #313133;
    color: white;
    margin-bottom: 0;
}

.contactDetailsFooter>* {
    margin-top: 20px;
}

.contactDetailsFooter>a:link {
    text-decoration: none;
    color: white;
}

.contactDetailsFooter>a:visited {
    text-decoration: none;
    color: white;
}

.contactDetailsFooter>a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.contactDetailsFooter>a:active {
    text-decoration: none;
    color: white;
}

.emailCopier {
    cursor: pointer;
}

.emailCopier:hover {
    color: rgba(255, 255, 255, 0.6);
}

.copiedTextIndicator {
    position: fixed;
    margin: 0;
    right: 0;
    padding: 10px;
    width: calc(100% - 40px);
    max-width: 500px;
    max-height: 50px;
    background-color: #4f4f51;
    color: white;
    transition: top 0.2s;
    text-align: center;
    z-index: 1000;
}

.instagram {
    display: flex;
    align-items: center;
    gap: 10px;
}

.instagramLogo {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../staticContent/instagram.png');
}

.copyright {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {

    .contactDetailsFooter {
        font-size: small;
    }

    .copyTextIndicator {
        font-size: small;
    }

}