:root {
    --image-gallery-gap: 10px;
}

.imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: var(--image-gallery-gap);
}

.imageGalleryPhoto {
    width: calc(50% - 0.5 * var(--image-gallery-gap));
    cursor: pointer;
}

.imageGalleryDescription {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}

.imageGalleryCloseButton {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-image: url('../staticContent/close.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10000;
}


@media only screen and (max-width: 500px) {

    .imageGalleryPhoto {
        width: 100%;
    }
}